<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ONETOONE</title>
</head>
<body>
    <center><h2>One To One MVC/MVT Demo</h2></center>
    <br><br>
    {{resp}}

    {% if flag %}


            <br><br>
            <form action="/address/" method="post">
                Address Id :  <input type="text" name="adid" value="{{address.id}}"><br><br>
                Address City:<input type="text" name="adcity" value="{{address.city}}"><br><br>
                Address State :<input type="text" name="adstate" value="{{address.state}}"><br><br>
                Address Pincode : <input type="text" name="adpin" value="{{address.pincode}}"><br><br>
                <input type="submit">

            </form>


    {% else %}
            <br><br>
            <form action="/student/" method="post">
                Student Id :  <input type="text" name="stid" value="{{stud.id}}" readonly><br><br>
                Student FirstName:<input type="text" name="stfnm" value="{{stud.fname}}"><br><br>
                Student LastName :<input type="text" name="stlnm" value="{{stud.lname}}"><br><br>
                Student Fees : <input type="text" name="stfees" value="{{stud.fees}}"><br><br>
                Select Address : <select name="stadr">
                                <option value="0">--select--</option>
                                {% for adr in addresses %}
                                         <option value="{{adr.id}}">{{adr.city}}</option>
                                {% endfor  %}
            </select><br><br>
                <input type="submit">
            </form>
    {% endif %}


    <table border="1">
            <thead>
                    <th>StudID</th> <th>Full Name</th> <th>Stud Fees</th> <th>Stud Address</th>
            </thead>
            <tbody>
                {% if flag %}
                    {% for adr in adrlist %}
                        <tr>
                            {% if adr.studref %}
                                 <td>{{adr.studref.id}} </td>
                                 <td>{{adr.studref.fname}} {{adr.studref.lname}}</td>
                                 <td>{{adr.studref.fees}}</td>

                            {% else %}
                                 <td>NA</td>
                                 <td>NA</td>
                                 <td>NA</td>

                            {% endif %}
                            <td>{{adr.city}},{{adr.state}} - {{adr.pin}}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for stud in studlist %}

                    <tr>
                                 <td>{{stud.id}}</td>
                                     <td>{{stud.fname}} {{stud.lname}}</td>
                                     <td>{{stud.fees}}</td>
                                  {% if stud.adrref %}

                                     <td>{{stud.adrref.city}},{{stud.adrref.state}} - {{stud.adrref.pin}}</td>
                                    {% else %}
                                        <td>Address Not Present</td>
                                    {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
    </table>



</body>
</html>