<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<h1>Employees Details </h1>
<form action="" method="post">
Emp ID: <input type="text" name="empid" id="eid"><br><br>
Emp Name: <input type="text" name="empName" id="ename"><br><br>
Emp Age: <input type="text" name="empAge" id="eage"><br><br>
Emp Gender: <input type="radio" id="male" name="empGender" value="male">
<label for="male">Male</label>
<input type="radio" id="female" name="empGender" value="female">
<label for="female">Female</label>
<input type="radio" id="other" name="gender" value="other">
<label for="other">Other</label><br><br>

Emp City: <input type="text" name="empCity" id="ecity"><br><br>
Emp Salary: <input type="text" name="empSalary" id="esalary"><br><br>
Emp Email: <input type="email" name="empEmail" id="email"><br><br>


<label for="empRole">Emp Roll:</label>
<select name="empRole" size="4" multiple>
  <option value="Mang-1">Manager--1</option>
  <option value="Mang-2">Manager--2</option>
  <option value="Mang-3">Manager--3</option>
  <option value="Mang-4">Manager--4</option>
</select>
<br><br>
    <label for="empRole">Emp Skills:</label>
<select name="empSkill" size="4" multiple>
  <option value="skill-1">Skill--1</option>
  <option value="skill-2">Skill--2</option>
  <option value="skill-3">Skill--3</option>
  <option value="skill-4">Skill--4</option>
</select><br><br>


Emp Hobbies:  <input type="checkbox" name="emphobs" value="CR1">
  <label for="skill1">Cricket--1 </label>
  <input type="checkbox" name="emphobs" value="CR2">
  <label for="skill2">Cricket--2 </label>



</form>
</body>
</html>