<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>
</head>
<body>
<center>
	<br><br><br>
    <font color="red">{{msg}}</font>
    <br>
	<form  action="index" method="post">
User Name: <input type="text" name="uname" id="uname1"><br><br>
Password:   <input type="password" name="password" id="passsword1"><br><br>
        <input type="submit"  name="LogIn">
</form>
    <form action="registerForm" method="post">
        <input type="submit" value="Sign Up">

    </form>
</center>
</body>
</html>